<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Displaying Cats</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="container">
            <div id="header_img">
                <img src="../images/adventure-cat.png" alt="img" id="img1">
                <h1>Welcome to Cats!</h1>
                <img src="../images/aidorucat.png" alt="img" id="img2">
            </div>
            <div id="blueimg">
                <div id="col3"><img src="../images/catandninja.png" alt="img3" id="img3"></div>
                <div id="col4"><img src="../images/chellocat.jpg" alt="img4" id="img4"></div>
                <div id="col5"><img src="../images/cherry.jpg" alt="img5" id="img5"></div>
                <div id="col6"><img src="../images/coder2.jpg" alt="img6" id="img6"></div>
            </div>
            <div id="red_img">
                <div id="col7"><img src="../images/codercat.jpg" alt="codercat" id="img7"></div>
                <div id="col8"><img src="../images/cooler.png" alt="cooler" id="img8"></div>
                <div id="col9"><img src="../images/daftpunk.gif" alt="daftpunk" id="img9"></div>
                <div id="col10"><img src="../images/defunktocat.png" alt="defpunkcat" id="img10"></div>
            </div>
            <div id="repeat">
                <div id="col11"><img src="../images/dojocat.jpg" alt="dojocat" id="img11"></div>
                <div id="col12"><img src="../images/domo-cat.png" alt="domocat" id="img12"></div>
                <div id="col13"><img src="../images/github.jpg" alt="github" id="img11"></div>
                <div id="col14"><img src="../images/dojocat.jpg" alt="dojocat" id="img11"></div>
            </div>
        </div>
    </body>
</html>